
/*============ $Globel ============*/


/*============ $Elements ============*/

.bg{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-image: url('../images/泰瑞-142.jpg');
	background-size: cover;
	background-position: top;
}
.bg:after{
	content: " ";
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: linear-gradient(60deg, #dbfff5, #fcfcfc);
	opacity: 0.6;
}
.leanBg-top{
	margin-top: 80px;
}
.leanBg-top:before{
	content: " ";
	position: absolute;
	top: 0;
	width: 100%; height: 180px;
	background-color: #fff;
	transform: skewY(-5deg) translateY(-50%);
}
.leanBg-bottom{
	margin-bottom: 160px;
}
.leanBg-bottom:after{
	content: " ";
	position: absolute;
	bottom: 0;
	width: 100%; height: 180px;
	background-color: #fff;
	transform: skewY(-5deg) translateY(50%);
}
@media (max-width: 768px){
	.leanBg-top:before,.leanBg-bottom:after{
		height: 80px;
	}
	.leanBg-top{
		margin-top: 80px;
	}
	.leanBg-bottom{
		margin-bottom: 80px;
	}
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-drag: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  min-width: 64px;
  font-family: 'Raleway';
  letter-spacing: 0;
  text-decoration: none;
  background-color: #00c68f;
  border: none;
  height: 36px;
  border-radius:18px;
  outline: 0;
  cursor: pointer;
  overflow: hidden; 
  transition: all 0.3s;
}
.btn--primary, .btn--secondary{
	color: #fefefe;
}
.btn--primary{
	background-color: #00c68f;
}
.btn--primary:hover,
.btn--primary:active{
	background-color: #c0f9e6;
}
.btn--secondary{
	background-color: #28a745;
}
.btn--secondary:hover,
.btn--secondary:active{
	background-color: #c0f9e6;
}
.btn.btn--lg{
	font-size: 20px;
	line-height: 56px;
	height: 56px;
	border-radius: 28px;
	font-weight: 500;
	padding: 0 64px;
}
.btn.btn--md{
	font-size: 18px;
	line-height: 48px;
	height: 48px;
	border-radius: 24px;
	font-weight: 400;
	padding: 0 64px;
}
.btn.btn--sm{
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	border-radius: 16px;
	font-weight: 400;
	padding: 0 32px;
}
.btn-group{
	text-align: center;
}
.btn-group .btn{
	margin-left: 8px;
	margin-right: 8px;
}

.icon-btn{
	display: inline-block;
	width: 32px; height: 32px;
	line-height: 32px;
	font-size: 1.4rem;
	transition: all 0.3s;
}
.icon-btn:hover{
	transform: translateY(-20%);
}

.icon-btn .icon{
	display: block;
	text-align: center;
}
.text-btn{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Raleway';
	letter-spacing: 0;
	text-decoration: none;
	color: #484848;
}
.text-btn.text-btn--primary{
	color: #00c68f;
}
.text-btn.text-btn--lg{
	font-size: 20px;
	line-height: 48px;
	height: 48px;
	font-weight: 500;
}
.text-btn.text-btn--lg:before{
	content: " ";
	position: absolute;
	bottom: 0; left: 0;
	width: 0%;
	height: 2px;
	background-color: #c0f9e6;
	transition: all 0.3s;
}
.text-btn.text-btn--lg:hover:before{
	width: 100%;
}
.image{
	width: 100%;
	display: inline-block;
}
.imgbox{
	width: 100%;
	overflow: hidden;
}
.imgbox-inner{
	width: 100%;
	padding-top: 100%;
	position: relative;
}
.imgbox-inner.imgbox-inner--4-3{
	padding-top: calc(100% * 3 / 4);
}
.imgbox-inner .image{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-size: cover;
	background-position: center;
}

/*============ $Header ============*/

.header{
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	z-index: 100;
	transition: all 0.3s;
}
.header-colored{
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.navbar--collapse{
	margin-right: -16px;
	margin-left: -16px;
}

.navbar .navbar_socialBar{
	padding: 24px;
	display: block;
	float: left;
}
@media (max-width: 768px){
	.navbar .navbar_socialBar{
		padding: 12px;
	}
}

.navbar .navbar_socialBar .icon-btn{
	color: #fefefe;
}
.header-colored .navbar_socialBar .icon-btn{
	color: #00c68f;
}

.navbar .navbar_nav{
	float: right;
}

.navbar_nav .menuToggle{
	display: block;
	padding: 24px;
	padding-top: 26px;
}
@media (max-width: 768px){
	.navbar_nav .menuToggle{
		padding: 12px;
		padding-top: 16px;
	}
}

.navbar_nav .menuToggle span{
	display: block;
	height: 2px; width: 32px;
	background-color: #fefefe;
	margin-bottom: 8px;
	transition: all 0.3s;
}

.menuToggle:hover span:nth-child(1){
	transform: translateX(-20%);
}
.menuToggle:hover span:nth-child(3){
	transform: translateX(20%);
}

.header-colored .menuToggle span{
	background-color: #00c68f;
}
.navbar_nav .popupMenu{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #fefefe;
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;
}
#popup-overlay:target{
	display: block;
	opacity: 1;
	visibility: visible;
}

.popupMenu .popupMenu-close{
	padding: 24px;
	width: 80px; height: 80px;
	float: right;
	transition: all 0.3s;
	margin-right: -16px;
	margin-left: -16px;
}
@media (max-width: 768px){
	.popupMenu .popupMenu-close{
		padding: 12px;
		width: 56px; height: 56px;
	}
}

.popupMenu .popupMenu-close:hover{
	transform: rotate(180deg);
}
.popupMenu .popupMenu-close span{
	width: 32px; height: 2px;
	background-color: #00c68f;
	position: absolute;
	top: 50%; left: 50%;
}
.popupMenu .popupMenu-close span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.popupMenu .popupMenu-close span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}

.popup-menu-item{
	display: block;
    text-align: left;
    font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #484848;
    line-height: 80px;
    transition: all 0.3s;
}
@media (max-width: 768px){
	.popup-menu-item{
		font-size: 24px;
		line-height: 48px;
	}
}
.popup-menu-item:hover{
	color: #00c68f;
}


/*============ $About ============*/
.hero{
	padding-top: 20vh; 
	padding-bottom: 20vh;
}
@media (max-width: 480px){
	.hero{
		padding-top: 80px; 
		padding-bottom: 80px;
	}
}
.hero-bg{
	position: absolute;
	top: 10vh;
	width: 100%; height: 100%;
	background-image: url('../images/泰瑞-203.png');
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: top right;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1140px;
}
@media (max-width: 768px){
	.hero-bg{
		background-size: 320px;
	}
}
@media (max-width: 480px){
	.hero-bg{
		background-size: 200px;
	}
}

.hero-hd{
	font-size: 120px;
	font-weight: 900;
    font-family: 'Ubuntu', 'Helvetica', 'roboto', arial, sans-serif;
	font-weight: 700;
	color: #fefefe;
}
@media (max-width: 768px){
	.hero-hd{
		font-size: 48px;
	}
}



/*============ $Quote ============*/
.quote{
	background-color: #fff;
	padding-top: 80px;
	padding-bottom: 80px;
}
@media (max-width: 768px){
	.quote{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.quoteIcon{
	width: 64px; height: 64px;
	border-radius: 50%;
	background-color: #28a745;
	text-align: center;
	line-height: 64px;
	font-size: 32px;
	color: #fff;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 24px;
}
.quoteText{
	font-size: 18px;
	line-height: 40px;
	color: #484848;
	margin-bottom: 24px;
	text-align: center;
}
.quoteName{
	font-size: 18px;
	line-height: 48px;
	color: #484848;
	text-align: center;
}
.quoteName span{
	color: #28a745;
}


/*============ $Skill ============*/
.skill{
	padding-top: 80px;
	padding-bottom: 80px;
}
@media (max-width: 768px){
	.skill{
		padding-top: 40px;
		padding-bottom: 40px;
	}
}
.skillGroup{
	padding-top: 80px;
	padding-bottom: 80px;
}
.skillCard{
	padding-left: 32px;
	margin-bottom: 32px;
}
.skillCard-inner{
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	padding-left: 48px;
	padding-top: 24px;
	padding-bottom: 24px;
}
.skillCard-title{
	color: #00c68f;
  	font-family: 'Raleway',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  	font-weight: 400;
  	margin-top: 0;
  	margin-bottom: 8px;
}
.skillCard-text{
	margin: 0;
}
.skillCard-icon{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	position: absolute;
	left: 0; top: 50%;
	transform: translateY(-50%);
	background-color: #f3f4f5;
}
.skillCard-icon img{
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	max-width: 60%;
	max-height: 60%;
}

/*============ $Experience ============*/
.experience{
	padding-top: 80px;
	padding-bottom: 80px;
}
.timelineGroup{
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 120px;
}
.timeline{
	width: 4px;
	height: 100%;
	background-color: #00c68f;
	position: absolute;
	top: 0; left: 50%;
	transform: translateX(-50%);
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

.timeline-card{
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	padding: 24px;
	background-color: #fff;
	border-radius: 4px;
	width: calc(50% - 24px);
}
.timeline-card:nth-child(odd) > :before{
	content: " ";
	width: 16px; height: 16px;
	border-radius: 50%;
	background-color: #00c68f;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	position: absolute;
	top: 50%; 
	transform: translate(50%, -50%);
	right: -48px;
}
.timeline-card:nth-child(even) > :before{
	content: " ";
	width: 16px; height: 16px;
	border-radius: 50%;
	background-color: #00c68f;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	position: absolute;
	top: 50%; 
	transform: translate(-50%, -50%);
	left: -48px;
}

/*.timeline-card:before{
	content: " ";
	width: 16px; height: 16px;
	border-radius: 50%;
	background-color: #00c68f;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	position: absolute;
	top: 50%; 
	transform: translate(50%, -50%);
	right: -24px;
}

.timeline-card-right:before{
	content: " ";
	width: 16px; height: 16px;
	border-radius: 50%;
	background-color: #00c68f;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
	position: absolute;
	top: 50%; 
	transform: translate(-50%, -50%);
	left: -24px;
}*/
.timeline-card.left{
	left: 0;
}
.timeline-card.right{
	left: 50%;
	margin-left: 24px;
}

@media (max-width: 768px){
	.timeline{
		left: 0;
	}
	.timeline-card{
		width: calc(100% - 24px);
		margin-bottom: 24px;
}
	.timeline-card.left, .timeline-card.right{
		left: 0;
		margin-left: 24px;
	}
	.timeline-card:nth-child(odd) > :before{
		transform: translate(-50%, -50%);
		left: -48px;
	}
}

/*============ $Works ============*/
.work{
	padding-top: 80px;
	padding-bottom: 80px;
}
.workList{}
.workItem{
	vertical-align: middle;
	padding-bottom: 48px;
}
.workItem-text{
	padding-top: 24px;
}
.workItem-title{
	font-size: 2rem;
  	font-family: 'Ubuntu',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #484848;
}
.workItem-intro{
	font-size: 1rem;
	line-height: 1.2rem;
}

@media (max-width: 768px){
	.workItem-title{
		margin-top: 0;
		margin-bottom: 8px;
	}
	.workItem{
	vertical-align: middle;
	padding-bottom: 24px;
	}
}

/*============ $Contact ============*/
.contact{
	padding-bottom: 80px;
	padding-bottom: 80px;
}
.form{
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea{
	padding-bottom: 8px 16px;
	display: inline-block;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	vertical-align: middle;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 16px;
	background-color: inherit;
	color: #fefefe;
}
.form textarea{
	resize: none;
}
.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
	outline: 0;
	border: 1px solid #00c68f
}
.form label{
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: middle;
	color: #00c68f;
}
form .btn-group{
	margin-top: 48px;
}

.devideText{
	text-align: center;
	vertical-align: middle;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 2rem;
	color: #c3c4c5;
}

.info{
	text-align: center;
}
.infoEmail, .infoPhone{
	margin-bottom: 16px;
}
.infoEmail a{
	color: #28a745;
	font-size: 18px;
	font-weight: 500;
}
.infoPhone a{
	color: #28a745;
	font-size: 24px;
	font-weight: 500;
}
.info .socialBar .icon-btn{
	color: #28a745;
}
/*============ $Footer ============*/
.footer{
	padding-top: 40px;
	padding-bottom: 40px;
}
.finalText,.copyright{
	font-size: 0.8rem;
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	color: #c3c4c5;
}





/*============ $Parallax graphic ============*/

[class^="graphic_"]{
	position: absolute;
}
.graphic_001{top: 20%; left: 5%;}
.graphic_002{top: 25%; right: 10%;}
.graphic_003{top: 5%;left: 5%;}
.graphic_004{top: 15%;left: 10%;}

@media (max-width: 768px){
	[class^="graphic_"]{
		transform: scale(0.3);
	}
}






























